body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #414041;
  color: #fefefe;
  width: 100%;
}

.header_container {
  padding: 25px;
}

.header_specialist {
  font-size: 16px;
}

.aside_container {
  background-color: #E6D96A;
  color: #3b3b1e;
  padding: 25px;
}

main {
  background-color: #e2e2e2;
  color: #3b3b1e;
  padding: 25px;
}